.heroBanner {
  padding: 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroIcon {
  width: 256px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}